@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PRIMARY-FC: #000;
  --SECONDARY-FC: #fff;
  --SVGFILL: #000;
  --BGCOLOR: whitesmoke;
  --BOXSHADOW: rgba(0, 0, 0, 0.521);
  --PBGCOLOR: rgb(219, 218, 218);
}

/* Dark mode */
.dark-mode {
  --PRIMARY-FC: #fff;  
  --SECONDARY-FC: #000; 
  --BGCOLOR: #121212;
  --SVGFILL: #fff;
  --BOXSHADOW: rgba(248, 242, 242, 0.089);
  --PBGCOLOR: #222121;
}

/* General reset */
h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
}

p {
  font-size: 18px;
}

section {
  padding: 0 20px;
}

a:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--PRIMARY-FC);
  background-color: var(--BGCOLOR);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header styles */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  padding: 15px 20px;
  background-color: var(--BGCOLOR);
  margin-top: -5px;
}

header li {
  list-style: none;
  padding-right: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.brand-name {
  margin-right: 100px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

.brand-name a {
  text-decoration: none;
  color: var(--PRIMARY-FC);
}

.brand-name a:is(:hover, :focus) {
  background: linear-gradient(to bottom, #011f5f, #af2369, #131313);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientAnimation 3s ease infinite;
}

.brand-name a, 
.sidebar a {
  color: var(--PRIMARY-FC);
}

.hideOnMobile {
  display: none;
}

.menu-sidebar-svg {
  width: 30px;
  height: 30px;
  stroke-width: 4px;
  padding-top: 5px;
}

.rotate-svg {
  transform: rotateY(180deg);
}

.menu-sidebar-svg, .hide-sidebar-svg {
  fill: var(--SVGFILL);
  cursor: pointer;
}

.hide-sidebar-svg {
  position: fixed;
  top: 10px;
  right: -20px;
  margin-right: -220px;
  text-align: right;
}

.menu-sidebar-svg.visible, .hide-sidebar-svg.visible {
  display: block;
}

.menu-sidebar-svg.hidden, .hide-sidebar-svg.hidden {
  display: none;
}


/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 60px 0 20px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--BGCOLOR);
  display: none;
  transition: transform 0.3s ease-in-out;
}

.sidebar.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
  display: none;
}

.sidebar li {
  margin-left: auto;
  width: 90%;
}

.sidebar li a {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  color: var(--PRIMARY-FC);
  text-decoration: none;
  font-size: 15px;
}

.sidebar a, .sidebar-resume {
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar a:is(:hover, :focus) {
  font-weight: bolder;
  transform: scale(.9); /* Add slight zoom effect */
  transition: transform 0.3s ease, fill 0.2s ease;
}

@keyframes transform {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

li .sidebar-resume {
  margin-top: 30px;
  padding: 6px 10px;
  border: 1px solid var(--PRIMARY-FC);
  border-radius: 20px;
}

li .sidebar-resume:is(:hover, :focus) {
  font-weight: 800;
}

/* Theme toggle style */
.theme-toggle {
  position: fixed;
  bottom: 50px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #080808;
  background-image: linear-gradient(
    to left,
    transparent,
    #edededb9 40% 60%,
    transparent
  );
  border: none;
  border-radius: 30px;
}

.sidebar .theme-toggle {
  animation: bounce 2s infinite;
}

/* About me section */
.about {
  margin-top: 100px;
}

.about-content h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 46px;
  line-height: 40px;
  margin-bottom: 50px;
  opacity: 0.7;
}

.about-content .about-h1-span {
  padding-left: 100px;
}

.about-content p {
  font-size: 18px;
  margin: 20px auto;
}

.about-img {
  border: 5px double rgb(141, 192, 226);
  border-radius: 100%;
  padding: 10px;
  padding-bottom: 4px;
  margin: 30px auto;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.about-content p:nth-of-type(5) {
  background-color: var(--PBGCOLOR);
  padding: 15px 25px 15px 30px;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.about-content p:nth-of-type(6) {
  margin: 30px auto;
  font-size: 25px;
  font-weight: bold;
}

/* Images of favourite memories section */
.image-container {
  padding: 0;
  margin-bottom: 100px;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 5% 95%,
    transparent
  );
}

.image-container .image-list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.image-container .image-list .image {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 90%;
  animation: autoRun 15s linear infinite;
  animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1) - 15s)!important;
}

.image-container .image-list .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@keyframes autoRun {
  from {
    left: 90%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.image-container:hover .image {
  animation-play-state: paused!important;
  filter: grayscale(1);
}

.image-container .image:hover {
  filter: grayscale(0);
}

/* Projects section */
.projects-content h2 {
  margin: 10px auto;
}

.projects-flex {
  margin: 30px auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.projects-card {
  width: 100%;
  padding: 20px 10px;
  background-color: var(--BGCOLOR);
}

.projects-card:nth-child(odd) {
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 5px 5px 20px var(--BOXSHADOW);
}

.projects-card:nth-child(even) {
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: -5px -5px 20px var(--BOXSHADOW);
}

.projects-card-content h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.projects-card-content p {
  font-size: 16px;
}

.project-tools {
  font-size: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 10px;
  margin: 30px auto;
}

.project-tools span {
  padding: 5px 10px;
  border: 1px solid var(--PRIMARY-FC);
  border-radius: 10px;
}

.project-tools span:is(:hover, :focus) {
  transform: scale(1.1);
}

.view-project a {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: var(--PRIMARY-FC);
}

.view-project a:is(:hover, :focus) {
  transform: scale(1.1);
  font-weight: bold;
  padding-left: 20px;
}

.view-project svg {
  fill: var(--SVGFILL);
}

/* Resume section */

.resume {
  margin: 80px auto 50px;
  text-align: center;
}

.resume-content a {
  color: var(--PRIMARY-FC);
  text-decoration: none;
}

.body-resume {
  position: relative;
}

.body-resume::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  margin-bottom: -5px;
  background-color: var(--PRIMARY-FC);
  transition: width 0.3s ease-in-out;
}

.body-resume:hover::after {
  width: 100%;
}

/* Skills Section */
.skills {
  margin-top: 60px;
 }
 
 .skills p:nth-of-type(1) {
  font-size: 16px;
  margin: 10px auto 20px;
 }
 
 .skill-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px auto;
 }
 
 .skill-container:focus > .skill-cards {
  cursor: pointer;
  outline: none;
 }
 
 .skill-cards {
  box-shadow: 5px 5px 20px var(--BOXSHADOW);
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
 }
 
 .front-card,
 .back-card {
   position: absolute;
   height: auto;
   width: 100%;
   backface-visibility: hidden;
   border: 2px solid transparent;
   border-radius: 5px;
 }
 
 .front-card {
   margin: 130px auto;
   background-color: transparent;
   font-size: 18px;
   letter-spacing: 3px;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   padding-right: 10px;
   padding-bottom: 10px;
 }
 
 .back-card {
   background-color: transparent;
   transform: rotateY(180deg);
   padding: 20px;
   position: relative;
   text-align: center;
   height: 300px;
 }
 
 .back-card ul {
   list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
   gap: 10px;
   padding-top: 2px;
 }
 
 .back-card li {
   border: 1px solid var(--PRIMARY-FC);
   border-radius: 10px;
   padding: 10px;
   font-size: 10px
 }
 
 .back-card li:hover {
   transition: transform 0.5s ease-out;
   transform: translateY(5px);
 }
 
 .technical-back-card {
   margin-top: 80px;
 }
 
 .back-card:is(:hover, :focus) {
   box-shadow: 0 0 10px 5px var(--BOXSHADOW)
 }

 /* Contact me section */
 .contact-content {
  text-align: center;
 }

 .contact-content h2 {
  margin: 100px auto 10px;
 }

 .contact-content p:nth-of-type(1) {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
 }

 .contact-content-button {
  margin: 40px auto;
  padding: 15px 20px;
  border: 3px solid;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 4px solid;
  border-right: 4px solid;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
 }

 .contact-content-button:is(:hover, :focus) {
  font-weight: bold;
 }

 /* Connect with me on social media section */
 .connect-with-me {
  fill: #080808;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(
    to right,
    transparent,
    #ededed 50% 50%,
    transparent
  );
  padding: 10px 10px 3px;
  border: none;
  border-radius: 30px;
  box-shadow: var(--BOXSHADOW);
  animation: bounce 4s infinite;
 }

 /* Social media links */
.connect-with-me-sidebar {
  position: fixed;
  bottom: 90px;
  left: -5%;
  width: 60px;
  height: 200px;
  z-index: 999;
  display: none;
 }

.connect-with-me-sidebar.visible {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.connect-with-me svg:first-of-type.visible,
.connect-with-me svg:last-of-type.visible {
  display: block;
}

.connect-with-me svg:first-of-type.hidden, 
.connect-with-me svg:last-of-type.hidden {
  display: none;
}

/* Social media icons styles */
.social-icons-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social-icons-container i {
  font-size: 20px;
  color: #080808;
  background-color: #ededed;
  padding: 10px;
  border: none;
  border-radius: 30px;
}

.social-icons-container div {
  position: relative;
  bottom: 5px;
  right: -1px;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #080808;
  background-color: #ededed;
  border: none;
  border-radius: 30px;
}

.social-icons-container a:is(:hover, :focus) i,
.footer-social-icons-container a:is(:hover, :focus) i,
.social-icons-container div:is(:hover, :focus) {
  font-weight: bold;
  transform: scale(1.2); 
}
 
 /* Footer Section */
 .footer-section {
  padding: 20px 0 20px;
 }

.footer-social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  border-top: 2px solid var(--PRIMARY-FC);
  width: 80%;
  margin: 50px auto 0;
  padding: 50px 0 10px;
}

.footer-social-icons-container i {
  font-size: 18px;
  color: var(--PRIMARY-FC);
  margin-left: -8px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  padding: 0 20px;
}

.footer a {
  color: var(--PRIMARY-FC);
  text-underline-offset: 2.5px;
  font-size: 12px;
}

.footer a:is(:hover, :focus) {
  font-weight: bold;
}

.footer p {
  font-size: 12px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  } 50% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
}

@media (min-width: 360px) {
  header { gap: 90px; }

  .theme-toggle { bottom: 250px; }

  .hide-sidebar-svg { right: -50px; }

  .sidebar {
    padding: 60px 0 20px;
    width: 70%;
    height: 70%;
  }

  li .sidebar-resume { margin: 30px auto 0; } 

  .about-content h1 {
    font-size: 38px;
    line-height: 30px;
    padding-top: 20px;
  }

  .about-img {
    width: 70%;
  }

  .back-card { padding-top: 30px; }
  .technical-back-card {
    margin-top: 45px;
  }

  .contact-content h2 { margin-bottom: 20px; }
}
@media (min-width: 375px) {
  header { gap: 110px; }

  .hide-sidebar-svg { right: -65px; }

  .sidebar { padding: 80px 0 20px; }

  .footer { margin-bottom: 30px; }
  
}

@media (min-width: 390px) {
  header { 
    left: -10px;
    gap: 115px;
    margin-top: -14px;
    padding-top: 30px;
  }

  .hide-sidebar-svg { right: -75px; }

  .back-card {
    padding-top: 30px;
  }
}
@media (min-width: 412px) {
  header { 
    gap: 130px;
    padding-top: 35px;
  }  

  .about-content h1 {
    padding-top: 50px;
  }

  .hide-sidebar-svg { 
    left: 100px;
    padding-top: 10px;
  }

  .theme-toggle { 
    bottom: 300px; 
    right: 35px;
  }

  .back-card {
    padding-top: 18px;
  }

  .back-card li {
    font-size: 13px;
  }

  .technical-back-card {
    margin-top: 50px;
  }
}
@media (min-width: 414px) {
  header { 
    gap: 140px;
  }    

  .theme-toggle { 
    bottom: 250px; 
  }
}

@media (min-width: 428px) {
  header { gap: 150px; }
}

@media (min-width: 430px) {
  header { gap: 150px; }  

  .sidebar { height: 60%; }
  
  .theme-toggle { bottom: 430px; }  
}

@media (min-width: 480px) {
  header { gap: 200px; }  

  .back-card {
    padding-top: 50px;
  }
}
@media (min-width: 490px) {
  header { gap: 220px; }  

  .back-card {
    padding-top: 70px;
  }

  .technical-back-card {
    margin-top: 30px;
  }
}

@media (min-width: 500px) {
  .menu-sidebar-svg, .hide-sidebar-svg { display: none; }

  .hideOnMobile { display: flex; }

  header { gap: 210px; } 

  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: -30px;
  } 

  .brand-name {
    font-size: 24px;
    margin-right: 130px;
  }

  header li a {
    text-decoration: none;
    color: var(--PRIMARY-FC);
  }

  header li a:is(:hover, :focus) {
    font-weight: bold;
    transform: scale(1.1);
  }

  section {
    padding: 0 30px;
  }

  .about-content h1 {
    width: 50%;
    font-size: 54px;
    line-height: 40px;
  }

  .about-content .about-h1-span {
    padding-left: 100px;
  }

  .projects-flex {
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  .projects-card { 
    padding: 25px; 
  }

  .back-card {
    padding-top: 70px;
  }

  .technical-back-card {
    margin-top: 20px;
  }

  .social-icons-container {
    gap: 10px;
  }

  .connect-with-me-sidebar {
    bottom: 30px!important;
  }
}

@media (min-width: 768px) { 
  header ul {
    margin-right: -10px;
  } 

  .brand-name { margin-right: 190px; }

  h2 { font-size: 35px; }
  p { font-size: 26px; }

  section { 
    padding: 0 30px; 
    margin-top: 150px!important;
  }

  .about-content h1 {
    padding-top: 50px;
    width: 50%;
    font-size: 78px;
    line-height: 57px;
    padding-bottom: 30px;
  }

  .about-content .about-h1-span {
    padding-left: 175px;
    line-height: 62px;
  }

  .about-content p { font-size: 24px; }

  .about-img {
    width: 50%;
    border: 5px double rgb(141, 192, 226);
    border-radius: 50%;
    padding: 8px 9px 0;
    margin: 50px auto;
  }

  .about-content p:nth-of-type(6) {
    margin: 50px auto;
    font-size: 30px;
  }

  .projects-flex {
    margin: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 30px;
  }

  .projects-card { 
    width: 100%;
    padding: 25px; 
  }

  .skill-cards {
    width: 100%;
  }

  .technical-back-card {
    margin-top: 50px;
  }

  .resume-content a {
    font-size: 24px;
  }

  .back-card {
    padding-top: 50px;
  }

  .back-card li {
    font-size: 20px;
    margin-right: 10px;
  }

  .contact-content p:nth-of-type(1) {
    font-size: 30px;
    line-height: 40px;
    margin: 40px auto;
  }

  .contact-content button {
    margin: 60px auto;
    font-size: 20px;
  }

  .connect-with-me {
    background-color: #ededed;
    right: 30px;
    bottom: 10px;
    width: 44px;
    height: 44px;
    padding: 12px;
  }

  .connect-with-me-sidebar {
    bottom: 110px;
    left: -5%;
  }

    
  .social-icons-container {
    gap: 20px;
  }

  .connect-with-me-sidebar {
    bottom: 100px!important;
  }

  .social-icons-container i {
    font-size: 26px;
  }

  .social-icons-container div {
    width: 44px;
    height: 44px;
  }

  .footer-social-icons-container i {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .footer {
    flex-direction: row;
    gap: 130px;
    margin-top: 20px;
  }

  .footer h3,
  .footer p,
  .footer a {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  header ul { gap: 25px; }

  .brand-name { margin-right: 180px; } 
}
@media (min-width: 834px) { 
  header ul { gap: 30px; } 
  .brand-name { margin-right: 180px; }
}
@media (min-width: 884px) { 
  .brand-name { margin-right: 230px; } 
}
@media (min-width: 1114px) { 
  header ul { gap: 50px; } 

  .brand-name { margin-right: 380px!important; } 
}
@media (min-width: 1024px) {
  header ul { gap: 38px; } 
  header li { font-size: 18px; } 
  .brand-name { 
    margin-right: 280px; 
    font-size: 30px;
  }

  section {
    padding: 0 50px;
  }

  h2 { font-size: 45px; }
  p { font-size: 36px; }

  .about-content h1 {
    padding-top: 100px;
    font-size: 98px;
    line-height: 80px;
    margin-bottom: 70px;
  }

  .about-content p {
    columns: 2;
    column-gap: 80px;
  }

  .about-img {
    width: 25%;
    margin: 100px 0;
  }

  .about-content p:nth-of-type(6) {
    margin: 70px auto;
    font-size: 38px;
  }

  .projects-flex {
    margin: 80px auto;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    gap: 50px;
  }

  .projects-card { 
    width: 420px;
    padding: 25px; 
  }

  .projects-card:is(:hover, :focus) {
    transform: scale(1.1);
    transition: transform 1s ease;
  }

  .resume-content {
    margin-top: 180px;
  }

  .resume-content a {
    font-size: 28px;
  }  

  .skills p {
    font-size: 36px!important;
  }

  .skill-container {
    flex-direction: row;
    gap: 50px;
  }
  
  .skill-cards {
    width: 100%;
    height: 400px;
  }

  .front-card {
    padding-top: 50px;
    font-size: 26px;
  }

  .back-card {
    padding-top: 10px;
    height: 100%;
  }

  .technical-back-card {
    margin-top: 60px;
  }

  .contact-content h2 {
    margin-top: 200px;
  }

  .contact-content p {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
  }

  .contact-content p:nth-of-type(1) {
    font-size: 38px;
    margin: 60px auto;
  }

  .contact-content button {
    margin: 80px auto;
    font-size: 28px;
  }

  .connect-with-me {
    right: 35px;
    width: 40px;
    height: 40px;
  }

  .connect-with-me-sidebar {
    left: -10%;
  }

  .footer-social-icons-container {
    width: 85%;
  }

  .footer {
    flex-direction: row;
    gap: 400px;
    margin-top: 20px;
  }

  .footer h3,
  .footer p,
  .footer a {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  header { margin-top: -5px; }
  header ul { gap: 40px; } 
  header li { font-size: 20px; } 
  .brand-name { 
    margin-right: 500px!important; 
    font-size: 34px;
  }

  .about-img {
    margin: 50px auto;
  }

  .projects-card { 
    width: 550px;
  }

  .footer {
    gap: 600px;
  }
}

@media (min-width: 1440px) {
  header ul { gap: 60px; } 
  header li { font-size: 26px; } 
  .brand-name { 
    margin-right: 550px; 
  }

  section { padding: 0 80px;}

  .about-content .about-h1-span {
    padding-left: 220px;
  }

  .projects-flex {
    padding: 0 30px;
  }

  .projects-card { 
    width: 350px;
  }

  .back-card {
    padding-top: 40px;
  }

  .technical-back-card {
    margin-top: 70px;
  }

  .footer {
    gap: 700px;
  }
}

@media (min-width: 2560px) {
  section, header { padding: 0 200px; }

  h2 { font-size: 75px; }
  p { font-size: 56px; }

  header ul { gap: 150px; } 
  header li { 
    font-size: 40px; 
    padding: 50px 0;
  } 
  .brand-name { 
    font-size: 48px;
    margin-right: 900px!important; 
  }

  .about-content h1 {
    font-size: 180px;
    line-height: 130px;
    padding-top: 400px;
  }

  .about-content .about-h1-span {
    padding-left: 280px;
  }

  .projects-flex {
    padding: 0 30px;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
  }

  .projects-card { 
    width: 600px;
    height: 400px;
  } 

  .resume-content {
    margin: 280px auto;
  }

  .resume-content a {
    font-size: 38px;
  }

  .front-card {
    font-size: 36px;
  }

  .back-card li {
    font-size: 24px;
  }

  .back-card {
    padding-top: 100px;
  }
  
  .contact-content p:nth-of-type(2) {
    font-size: 38px;
    line-height: 40px;
  }

  .contact-content-button {
    margin: 160px auto!important;
    font-size: 40px!important;
  }

  .connect-with-me {
    bottom: 50px;
  }

  .footer-social-icons-container {
    gap: 100px;
    padding: 100px 0 60px;
  }

  .footer-social-icons-container i {
    font-size: 48px;
  }

  .footer {
    gap: 1000px;
  }

  .footer h3,
  .footer p,
  .footer a {
    font-size: 36px;
  }
}